.main_color {
    background-color: #D67F54;
    
}
.button_class {
    background-color: #D67F54 ;
}
.nav-link, .navbar-brand, .footer_text{
    color: #4E4035;
    
}



@media only screen and (max-width: 768px) {
    table, th, td {
        display: block;
    }

    th, td {
       
        border: none;
        padding: 8px;
        margin-bottom: 8px;
    }
    thead {
        display: none;
    }
} 