.main_color {
    background-color: #D67F54;
    
}
.button_class {
    background-color: #D67F54 ;
}
.nav-link, .navbar-brand, .footer_text{
    color: #4E4035;
    
}
.for_alerts {
    background-color: #d6885481;
}
.one_back {
    background-color: #F4A900;
}
.two_back {
    background-color: #ED760E;
}
.three_back {
    background-color: #FFAE42;
}
.four_back {
    background-color: #CC5500;
}
.five_back {
    background-color: #FFA000;
}


@media only screen and (max-width: 768px) {
    table, th, td {
        display: block;
    }

    th, td {
       
        border: none;
        padding: 8px;
        margin-bottom: 8px;
    }
    thead {
        display: none;
    }
} 